@import (less) "../../Theme/constants.css";

@svg-load icon url('assets/return-to-computer-large.svg'){
  .svgCircleOverride
}

.icon {
  height: 144px;
  background-size: contain;
  background-image: svg-inline(icon);
  margin-top: 50px;
  margin-bottom: 50px;
}

.text {
  font-size: 14px;
  line-height: 20px;
}
