@import (less) "../Theme/constants.css";

.wrapper {
  margin-top: 116px;
}

.submessage {
  font-size: 20px;
  line-height: 32px;
}

@svg-load icon url('assets/complete.svg'){
  .svgCircleOverride
}

.icon {
  height: 4rem;
  background-size: contain;
  background-image: svg-inline(icon);
  margin-bottom: 1.5rem;
}
